<div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Data</h2>
      <i class="devicon-mongodb-plain-wordmark colored" aria-hidden="true"></i>
      <i class="devicon-postgresql-plain-wordmark colored" aria-hidden="true"></i>
      <i class="devicon-confluence-plain-wordmark colored" aria-hidden="true"></i>
    </div>
    <div class="tech">
      <h2>Languages</h2>
      <i class="devicon-python-plain-wordmark colored" aria-hidden="true"></i>
      <i class="devicon-git-plain colored" aria-hidden="true"></i>
      <i class="devicon-ubuntu-plain-wordmark colored" aria-hidden="true"></i>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-docker-plain-wordmark colored" aria-hidden="true"></i>
      <i class="devicon-github-plain-wordmark colored" aria-hidden="true"></i>
      <i class="devicon-amazonwebservices-original colored" aria-hidden="true"></i>
    </div>
</div>
